<!doctype html>
{% load static %}
{% load react %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">=
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <title>
    Ticketing System
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{%  static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'css/argon-design-system.css?v=1.2.2' %}" rel="stylesheet" />
</head>


      <!-- Navbar primary -->
    
      <!-- Navbar success -->
     
      <!-- Navbar danger -->

              <!-- Menu -->
              
               <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active"  href="{% url 'tickets' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Home</a>
                    {% if request.user.is_staff %}
                     <p> <a class="nav-link mb-sm-3 mb-md-0 active"   href="{% url 'employee-dashboard' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Dashboard</a></p>
                    {% endif %}
                    <p> <a class="nav-link mb-sm-3 mb-md-0 active"   href="{% url 'ticket-archive' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Archive</a></p>
                  </li>
                </ul>
              </div>

<h1>Welcome to the Employee Dashboard</h1>
<h2> Incomplete Tickets </h2>
<a href = "{% url 'logout' %}" > logout</a>>


<bre>
</bre>
    <bre>
    </bre>
    <bre>
    </bre>
{% comment %} <form method="get">
      <button class="btn btn-primary" types="submit" >Search</button>
</form> {% endcomment %}

<form method="get"> {{ searchfilter.form }} 
  <button class="btn btn-primary" types="submit" >Search</button>
</form>

{% comment %} 
<form method="GET" action = "{% url 'update-ticket' random_item.id %}">
    {% csrf_token %}
    <button type="submit" value = {{ random_item }} >Click to Get Ticket!></button>  {% endcomment %}
<TABLE>
    {% if tickets == 0 %}
      <h3>No tickets to display<h3>
    {% else %}
      {% for ticket in tickets %}
      <tr>{{ ticket }}
          <a href ="{% url 'ticket' ticket.id %}" > Details</a>
          <a href="{% url 'update-ticket' ticket.id %}"> update</a>
          <br>
          </br>
      </tr>
      {% endfor %}
    {% endif %}
<TABLE>      






