<h1>Welcome to the Employee Dashboard</h1>
<h2> Tickets Assigned to {{ user.username }}! </h2>
<a href = "{% url 'logout' %}" > logout</a>>


<bre>
</bre>

    <H2> Tickets </H2>
    <bre>
    </bre>
    <bre>
    </bre>
{% comment %} 
<form method="GET" action = "{% url 'update-ticket' random_item.id %}">
    {% csrf_token %}
    <button type="submit" value = {{ random_item }} >Click to Get Ticket!></button>  {% endcomment %}
<TABLE>
    {% for ticket in tickets %}
    <tr>{{ ticket }}
        <a href ="{% url 'ticket' ticket.id %}" > Details</a>
        <a href="{% url 'update-ticket' ticket.id %}"> update</a>
        <br>
        </br>
    </tr>
    {% endfor %}
<TABLE>      






