
<!doctype html>
{% load static %}
{% load react %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">=
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <title>
    Ticketing System
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{%  static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'css/argon-design-system.css?v=1.2.2' %}" rel="stylesheet" />
</head>


      <!-- Navbar primary -->
    
      <!-- Navbar success -->
     
      <!-- Navbar danger -->

              <!-- Menu -->
              
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active"  href="{% url 'tickets' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Home</a>
                    {% if request.user.is_staff %}
                     <p> <a class="nav-link mb-sm-3 mb-md-0 active"   href="{% url 'employee-dashboard' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Dashboard</a></p>
                    {% endif %}
                    <p> <a class="nav-link mb-sm-3 mb-md-0 active"   href="{% url 'ticket-archive' %}" role="tab" aria-controls="tabs-text-1" aria-selected="true">Archive</a></p>
                  </li>
                </ul>
              </div>
              <div class="card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    
                    {% if user.is_authenticated %}
                      <h2> Tickets Created by {{ user.username }}! </h2>
                      <h3> Tickets </h3>
                        <a href = "{% url 'logout' %}" > logout</a>
                        <a href = "{% url 'ticket-create' %}" > Create Ticket </a>
                        {% else %}
                        <h1> Welcome Friend , please log in </h1>
                        <a href = "{% url 'login' %}" > login</a>
                        <a href = "{% url 'account_signup' %}" > signup </a>
                        {% endif %}
                        <bre>
                        </bre>
                        </form>

                    <tr>
                    </tr>
                    {% for ticket in tickets %}
                    <TABLE>
                      <TR>
                        <td>{{ticket.briefDescription}}</td>
                        <td><a href ="{% url 'ticket' ticket.id %}" > Details</a></td>
                        <td><a href="{% url 'update-ticket' ticket.id %}"> update</a></td>
                        <td><a href="{% url 'delete-ticket' ticket.id %}" >delete</a></td>
                        <br>
                      </TR>
                   </TABLE>
                    <tr>
                    </tr>
                    {%empty%}
                    <h3> No Tickets to display</h3>
                    {%endfor%}
                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                      


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
   
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'js/plugins/nouislider.min.js'  %}" type="text/javascript"></script>
  <script src="{% static 'js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'js/plugins/datetimepicker.js'  %}" type="text/javascript"></script>
  <script src="{% static 'js/plugins/bootstrap-datepicker.min.js'  %}
"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="  {% static 'js/argon-design-system.min.js?v=1.2.2'  %}" type="text/javascript"></script>
  <script>
    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
</body>

</html>

</h3>



